/*selector*/
*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.Titulo_1{
    color: cyan;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}

.parrafo_1{
    text-align: justify;
    font-family: inherit;
}

.fila_1{
    padding: 15px 0px 0px 0px;
    font-size: 20px ;
    text-align: center;
    background-color: blueviolet;
    color:aliceblue;
}

.Subtitulo_1{
    font-size: 20px;
    color: darkslateblue;
    font-family: fantasy;
}

.Subtitulo_2{
    font-size: 20px;
    color: skyblue;
    font-family: fantasy;
}

.Subtitulo_3{
    font-size: 20px;
    color: darkslateblue;
    font-family: fantasy;
}

.Subtitulo_4{
    font-size: 20px;
    color: darkslateblue;
    font-family: fantasy;
    
} .tabla {margin: 15px 0px 15px 0px; }